/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  line-height: 1;
  cursor: pointer;
  z-index: 1;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;

    &::after {
    content: '';   
    display: block;
    position: absolute;
    border-radius: 3rem;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    background: transparent;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  }
}

/* Hero Style */
.cta-btn--hero {
  background: $primary-color;

  &::after {
    background: $secondary-color;
  }

  &:hover {
    color: $primary-color;
    //background: $secondary-color;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

.cta-btn--hero a,
.cta-btn--secondary a {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.15rem;
  border: none;
}

/* Resume Style */
.cta-btn--secondary {
  color: $secondary-color;

  &::after {
    background: transparent;
  }

  &:hover {
    color: $primary-color;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
