#clients {
  background-color: $white-color;
  background-image: url("/../images/abordagem.svg") no-repeat cover;
  background-position: center;
  color: $dark-grey;
  height: 100%;
  border-top: 0px;
}
