#clients {
  background-color: $white-color;
  background-image: url(./../images/abordagem.svg) no-repeat;
  background-position: center;
  background-size: cover;
  color: $dark-grey;
  height: 100%;
  border-top: 0px;
}
